.campo_forca {
    /* width: 30px; */
    background-color: transparent;
    border: 0px;
    border-bottom: 3px solid #007bff;
    text-align: center;
    color: #007bff;
    margin: 2px;
}
.nao-respondido {
    color: red !important;
}

.estrela {
    color: #007bff !important;
    font-size: 22px;
    padding: 8px;
    margin: 8px;
}

.estrela:hover {
    color: yellow !important;
}

.amarelo {
    color: yellow !important;
}

#dica {

}

#img_forca {
    width: 200px;
}

.menu {
    text-align: center;
}